{% extends 'base2.html.twig' %}
{% block title%}Liste des notes{% endblock %}
{% block body %}
    <div class="container">
        <h1 style="color: #5c1c1c ; font-size: 50px ; font-family: 'Bauhaus 93';animation-name:fade-in;animation-duration: 6s ; animation-delay: 1s"> Bienvenue sur votre espace etudiant </h1>
        <div class="container"  style="border-color: #848484;border-width: 5px ; color: #848484 ; font-size: 20px ; font-family: Georgia">Içi c'est votre espace personnel , Consulter vos cours, notes, et assiduité </div>
    </div>
{% endblock %}
