{% extends 'base2.html.twig' %}
{% block title%}Liste des notes{% endblock %}
{% block body %} {% if notes %}
    <table id="notes" class="table table-striped">
        <thead> <tr> <th>Liste</th> <th>Matiere</th><th>Note</th>
            {% set count = 0 %}
        </tr> </thead> <tbody> {% for note in notes %}
            {% if note.note !=null %}
            {% set count = count + 1 %}
            <tr> <td>Note {{ count }}</td>
                <td>{{  note.matiere.getNomMatiere }}</td>
                <td>{{ note.note }}</td>
                </td> </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}<p>Aucune note</p> {% endif %} {% endblock %}