{% extends 'base.html.twig' %}
{% block title %}{{ note.note }}{% endblock %}
{% block body %} <h1>{{  note.etudiant.nom }} {{  note.etudiant.prenom }}</h1> <h3>{{ note.note }}</h3>  <hr> <a href="/art_cat">Retour</a> {% endblock %}