<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Excellence Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">



                <li class="nav-item">
                    <a href="/Affiche" class="nav-link">Evènements</a>
                </li>

                <li class="nav-item">
                    <a href="/AfficheC" class="nav-link">Catégories des Evènements</a>
                </li>

                <li class="nav-item">
                    <a href="/Recherche/categorie" class="nav-link">Recherche Par Catégories des Evènements</a>
                </li>
                <li class="nav-item">
                    <a href="/evenement/participation" class="nav-link">Mes Participations</a>
                </li>

            </ul>
        </div>
    </div>
</nav>